DJANGO_SECRET_KEY=

STAGGING_DB_NAME=
STAGGING_DB_USER=
STAGGING_DB_PASSWORD=
STAGGING_DB_HOST=
STAGGING_DB_PORT=

# clouflare
CLOUDFLARE_TUNNEL_TOKEN=
# api key untuk api
APIKEY_IMARAH_BLACKLIST=

# cloudflare bucket
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_DEVELOPMENT_URL= # For Develoopment
R2_MEDIA_DOMAIN= # for Production